.error404 {
  // background-image: url(../../assets/images/landing-blocks.png);


  .error-404 {
    height: 100vh;

    .page-header {
      display: flex;
      flex-direction: column;


    }
  }

}