/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/
.page-template-about {
  .entry-header {
    background-image: url('../../assets/images/about-banner.png');
    height: 70vw;
  }

  text-align: center;

  .flickity-enabled {
    margin-bottom: 1.2rem;
  }
}