/*--------------------------------------------------------------
# Academy Page
--------------------------------------------------------------*/

.page-id-46 {
  h1,
  h2,
  h3,
  p {
    color: white;
  }

  .site-main > article:first-child header {
    height: 20vh;
    @include desktop {
      height: 20vh;
    }
  }
  .site-content {
    background-image: url('../../assets/images/academy-desktop-background.png');

    .content-area {
      background-position: center;
      background-size: cover;
      width: 80%;
      margin: 0 auto;

      .entry-content {
        margin: 0 auto;
      }
    }
  }
}

.wp-block-button__link {
  text-transform: uppercase;
  color: $color__brand-blue-sapphire;
  background-color: $color__brand-yellow-orange;
  border-radius: 10px;
}
