/*--------------------------------------------------------------
# Academy Page
--------------------------------------------------------------*/

.page-id-46 {
  @include desktop {
    background-image: url('../../assets/images/academy-desktop-background.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
  }

  .entry-header {
    background-image: url('../../assets/images/academy-mobile-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    @include desktop {
      background-image: none;
    }

    h1 {
      color: $color__brand-blue-sapphire;

      @include desktop {
        color: white;
      }
    }

    p {
      color: white;
    }
  }

  @include desktop {

    h2,
    h3,
    p {
      color: white;
    }
  }

  .site-main>article:first-child header {

    @include desktop {
      height: 30vh;
    }
  }

  .entry-content {
    width: 80%;
    margin: 0 auto;

    @include desktop {
      p {
        text-align: center;
      }
    }
  }
}

.wp-block-button__link {
  text-transform: uppercase;
  color: $color__brand-blue-sapphire;
  font-weight: bold;
  background-color: $color__brand-yellow-orange;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
}