.carosel {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  position: relative;
  .carosel-viewport {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;

    .carosel-nav {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      box-sizing: border-box;
      padding: 1rem;
      background-color: rgba($color: $color__brand-ghost-white, $alpha: 0.8);
      border-radius: 50%;
    }

    .carosel-item {
      box-sizing: border-box;
      width: ($desktop-width/4)-20px;
      display: grid;
      grid-template-rows: 1fr;
      grid-auto-rows: 1fr;
      .carosel-thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        img {
          border-radius: 5px;
          box-sizing: border-box;
          height: auto;
          width: 100%;
        }
      }
      .carosel-content {
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        p {
          margin: 0;
        }
        color: $color__text-screen;
        font-size: 15px;
        padding: 8px 12px;

        width: 100%;
        text-align: left;
      }
    }
  }
}
