/*--------------------------------------------------------------
# Events Archive Page
--------------------------------------------------------------*/
.post-type-archive-event {
  .site-content {
    position: relative;
    background-image: url(../../assets/images/event-banner-large.jpg);
  }
  .page-header {
    height: 30vh;
    @include desktop {
      height: 50vh;
    }
  }

  .event-boxes {
    display: flex;
    flex-flow: column nowrap;

    article {
      position: relative;
      box-sizing: border-box;
      text-align: center;
      background-color: $color__brand-ghost-white;
      padding: 0 4em;
      margin-bottom: 0;
      border: 2px solid $color__brand-blue-sapphire;
      border-top: 0;
      &:first-child {
        border-top: 2px solid $color__brand-blue-sapphire;
      }
      .entry-title:after {
        background-image: url('../../assets/images/learn-arrow.png');
        background-repeat: no-repeat;
        background-size: cover cover;
        width: 20px;
        height: 40px;
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        right: 10px;
        top: 50%;
      }
    }

    @include desktop {
      padding-bottom: 2em;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      article {
        border: 0;
        &:first-child {
          border-top: 0;
        }
        .entry-title:after {
          display: none;
        }
        flex: 1 0 25%;
        max-width: 18em;
        text-align: center;
        padding: 0.5em;
        border-radius: 1rem;
        background-color: rgba($color: $color__brand-ghost-white, $alpha: 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        height: 250px;
        &:before {
          background-image: url('../../assets/images/learn-chain-desktop.png');
          background-repeat: no-repeat;
          content: '';
          position: absolute;
          background-size: cover;
          width: 75px;
          height: 11px;
          top: 50%;
          left: 0;
          transform: translate(-100%, -50%);
        }
        &:first-child {
          &:before {
            display: none;
          }
        }
      }
    }

    .entry-content,
    .hide-content {
      display: none;
    }
  }
  .hidden {
    display: none;
  }

  .event-single {
    overflow: scroll;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $color__brand-ghost-white;
    .hide-content {
      position: relative;
      padding-left: 40px;
      &:before {
        background-image: url('../../assets/images/learn-back-arrow.png');
        background-repeat: no-repeat;
        background-size: cover cover;
        width: 20px;
        height: 40px;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .pop-up {
    position: fixed;
    transform: translate(-50%, 0);
    top: 5%;
    left: 50%;
    background-color: $color__brand-ghost-white;
    border: 1px solid $color__brand-blue-sapphire;
  }
}
