/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-BlackItalic.eot');
  src: url('../../assets/fonts/raleway/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-BlackItalic.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-BlackItalic.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-BlackItalic.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-SemiBold.eot');
  src: url('../../assets/fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-SemiBold.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-SemiBold.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-Regular.eot');
  src: url('../../assets/fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-Regular.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-Regular.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-Regular.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-ThinItalic.eot');
  src: url('../../assets/fonts/raleway/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-ThinItalic.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-ThinItalic.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-ThinItalic.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-BoldItalic.eot');
  src: url('../../assets/fonts/raleway/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-BoldItalic.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-BoldItalic.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-BoldItalic.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-ExtraBoldItalic.eot');
  src: url('../../assets/fonts/raleway/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-ExtraBoldItalic.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-ExtraBoldItalic.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-ExtraBoldItalic.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-MediumItalic.eot');
  src: url('../../assets/fonts/raleway/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-MediumItalic.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-MediumItalic.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-MediumItalic.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-SemiBoldItalic.eot');
  src: url('../../assets/fonts/raleway/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-SemiBoldItalic.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-SemiBoldItalic.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-SemiBoldItalic.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-Light.eot');
  src: url('../../assets/fonts/raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-Light.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-Light.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-Light.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-ExtraLight.eot');
  src: url('../../assets/fonts/raleway/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-ExtraLight.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-ExtraLight.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-ExtraLight.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-Italic.eot');
  src: url('../../assets/fonts/raleway/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-Italic.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-Italic.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-Italic.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-Italic.svg#Raleway-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-Thin.eot');
  src: url('../../assets/fonts/raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-Thin.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-Thin.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-Thin.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-Thin.svg#Raleway-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-Medium.eot');
  src: url('../../assets/fonts/raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-Medium.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-Medium.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-Medium.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-Black.eot');
  src: url('../../assets/fonts/raleway/Raleway-Black.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-Black.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-Black.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-Black.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-Black.svg#Raleway-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-ExtraLightItalic.eot');
  src: url('../../assets/fonts/raleway/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-ExtraLightItalic.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-ExtraLightItalic.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-ExtraLightItalic.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-LightItalic.eot');
  src: url('../../assets/fonts/raleway/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-LightItalic.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-LightItalic.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-LightItalic.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-ExtraBold.eot');
  src: url('../../assets/fonts/raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-ExtraBold.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-ExtraBold.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-ExtraBold.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/Raleway-Bold.eot');
  src: url('../../assets/fonts/raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/raleway/Raleway-Bold.woff2') format('woff2'),
    url('../../assets/fonts/raleway/Raleway-Bold.woff') format('woff'),
    url('../../assets/fonts/raleway/Raleway-Bold.ttf') format('truetype'),
    url('../../assets/fonts/raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Black.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Black.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Black.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Black.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('ProximaNova-Semibold.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Semibold.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Semibold.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-LightIt.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-LightIt.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-LightIt.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-LightIt.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Extrabld.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Extrabld.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Extrabld.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Extrabld.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Thin.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Thin.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Thin.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Thin.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Thin.svg#ProximaNova-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Regular.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Light.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Light.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Light.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Light.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-ExtrabldIt.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-ExtrabldIt.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-ExtrabldIt.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-ExtrabldIt.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-BlackIt.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-BlackIt.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-BlackIt.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-BlackIt.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-BlackIt.svg#ProximaNova-BlackIt') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-ThinIt.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-ThinIt.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-ThinIt.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-ThinIt.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-ThinIt.svg#ProximaNova-ThinIt') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-SemiboldIt.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-SemiboldIt.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-SemiboldIt.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-SemiboldIt.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Bold.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Bold.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Bold.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Bold.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-BoldIt.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-BoldIt.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-BoldIt.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-BoldIt.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('../../assets/fonts/proxima-nova/ProximaNova-RegularIt.eot');
  src: url('../../assets/fonts/proxima-nova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-RegularIt.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/ProximaNova-RegularIt.woff') format('woff'),
    url('../../assets/fonts/proxima-nova/ProximaNova-RegularIt.ttf') format('truetype'),
    url('../../assets/fonts/proxima-nova/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: normal;
  font-style: italic;
}