/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background-image: url('../../assets/images/footer-desktop.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 250px;
  display: flex;
  align-items: flex-end;

  p {
    @include font-size(0.7);
    text-align: start;

    color: white;

    @include desktop {
      text-align: center;
    }
  }

  .footer-menu {
    text-align: start;
  }

  .social-icons {
    .widget {
      display: flex;
      flex-direction: row;
      padding-top: 10px;
    }
  }

  .site-info {
    box-sizing: border-box;

    a {
      color: $color__brand-ghost-white;

      &:hover {
        color: $color__brand-yellow-orange;
      }
    }

    img {
      height: 2em;
      width: auto;
      margin: 0 0.5em;

      &:hover {
        border-radius: 50%;
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 0.4em 0;
      }
    }

    display: flex;
    flex-flow: row,
    nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 100%;
  }
}