/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border-radius: 1rem;
  border: 0px;
  background: $color__brand-yellow-orange;
  color: $color__brand-dark-cyan;
  text-transform: uppercase;
  font-weight: bold;
  @include font-size(0.75);
  line-height: 1;
  padding: 0.6rem 1.5rem;

  // &:hover {
  //   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8),
  //     inset 0 15px 17px rgba(255, 255, 255, 0.8),
  //     inset 0 -5px 12px rgba(0, 0, 0, 0.02);

  &:active,
  &:focus {
    border-color: #aaa #bbb #bbb;
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='tel'],
select,
textarea {
  color: $color__brand-middle-blue;
  border: 3px solid $color__brand-blue-sapphire;
  border-radius: 1rem;
  font-family: $font__other;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='tel'] {
  padding: 8px;
}

textarea {
  padding-left: 3px;
  width: 100%;
  height: 175px;
}

.member-interest {
  padding: 7px;
}
