/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
.full-colored,
input[type='reset'],
input[type='submit'] {
  border-radius: 15px;
  background: $color__brand-yellow-orange;
  color: $color__brand-dark-cyan;
  text-transform: uppercase;
  font-weight: bold;
  @include font-size(0.9);
  padding: 0.9rem 3rem 0.9rem;
  font-weight: none;
  font-family: $font__other;

  &:hover {
  }

  //   &:active,
  //   &:focus {
  //     border-color: #aaa #bbb #bbb;
  //   }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='tel'],
.wpcf7-textarea,
input[type='password'],
input[type='search'],
textarea {
  color: $color__brand-middle-blue;
  border: 3px solid $color__brand-blue-sapphire;
  border-radius: 3px;
  font-family: $font__other;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}


// Gavin here is the selector css for membership page:
// .wpcf7-select{

// }