/*--------------------------------------------------------------
# Front Page 
--------------------------------------------------------------*/
.home {
  .front-page-banner {
    background-image: url('../../assets/images/splash-background-transparent.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vw;

    position: relative;

    .header-content-wrapper {

      h1,
      p {
        text-align: left;
      }

      position: absolute;
      max-width: 16em;
      padding: 0 0.5em;
      top: 10%;
      left: 50px;

      @include desktop {
        max-width: none;
      }
    }

    .carosel {
      background-color: $color__brand-dark-cyan;
      position: absolute;
      bottom: 20px;

      @include desktop {
        bottom: 80px;
      }

      .carosel-item {
        width: 150px;

        @include desktop {
          width: 250px;
        }
      }

      .carosel-thumbnail {
        img {
          width: 50%;
        }
      }
    }
  }

  .front-page-content {
    &>h2 {
      margin: 2em auto;
    }

    h3 {
      color: $color__brand-ghost-white;
      background-color: $color__brand-blue-sapphire;
      padding: 1em 0;

      @include desktop {
        margin-bottom: 0;
      }
    }

    @include desktop {
      position: relative;

      h2 {
        flex: 1 0 100%;
      }

      .archive-posts {
        article:first-child {
          margin-right: 50%;
          max-width: 50%;
          margin-left: 5%;
          border: 0;
          min-height: 500px;
        }
      }
    }
  }

  @include desktop {
    .upcoming-events {
      width: 45%;
      overflow: scroll;
      position: absolute;
      top: 4em;
      right: 0;

      h3 {
        margin-top: 0;
      }

      height: 500px;
      margin-bottom: 1rem;
    }
  }

  .front-page-events {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;

    @include desktop {
      flex-direction: column;
    }

    .entry-header {
      max-width: 70%;
      margin: auto;
    }

    .event-location {
      display: none;
    }

    article {
      display: none;
      margin-bottom: 0;
      display: none;
      box-sizing: border-box;
      padding: 0.3em;

      &:nth-child(1),
      &:nth-child(2) {
        display: inline-block;
        flex: 1 0 50%;

        @include desktop {
          flex: 1 0 100%;
        }
      }

      &:first-child {
        border-right: 3px solid $color__brand-blue-sapphire;
      }

      @include desktop {
        display: inline-block;
        border: 3px solid $color__brand-blue-sapphire;
        border-top: 0;
      }
    }
  }

  @include desktop {
    .market-trends h3:nth-of-type(1) {
      display: none;
    }

    .market-trends {
      margin-bottom: 1em;
    }
  }
}