/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  @include desktop {
    @include admin-sticky-fix();
  }

  color: $color__brand-ghost-white;
  background-color: $color__brand-blue-sapphire;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;

  .menu-toggle,
  .site-title {
    padding: 2rem 0 1rem 0;
    box-sizing: border-box;
  }

  .menu-toggle {
    font-size: 2rem;
  }

  @include desktop {
    #primary-menu {
      display: flex;
      justify-content: space-between;
      font-size: 1.3rem;
    }

    #primary-menu > li > a {
      padding: 2rem 0 1rem 0;
      color: $color__brand-ghost-white;
      border-bottom: 3px solid $color__brand-blue-sapphire;

      &:hover {
        color: $color__brand-yellow-orange;
        border-color: $color__brand-yellow-orange;
      }
    }

    .sub-menu {
      text-align: center;
      background-color: $color__brand-ghost-white;
      transform: translate(-40%, 3.2rem);
      border: 2px solid $color__brand-blue-sapphire;
      border-top: 0;
      box-sizing: border-box;

      li {
        padding: 1rem 0;
        border-top: 2px solid $color__brand-blue-sapphire;

        &:first-child {
          border: 0;
        }
      }
    }
  }

  .toggled {
    #primary-menu {
      position: absolute;
      @include font-size(1.3);
      top: 5.5rem;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: url('../../assets/images/menu-bg.png');
      background-size: 100vw;
      background-repeat: none;
      padding-top: 60px;
    }

    ul {
      padding: 1rem;
    }

    .sub-menu {
      display: inline-block;
      position: static;
    }

    ul > li {
      width: 100%;
      display: block;
      padding: 0.75rem 0;
      text-align: start;
      a {
        margin-left: 40px;
      }
    }
  }

  .site-branding {
    flex: 1 0 30%;

    .site-title {
      color: $color__brand-ghost-white;

      &:hover {
        color: $color__brand-yellow-orange;
      }

      margin: 0;
      padding-left: 60px;
      text-align: left;
      text-decoration: none;
      position: relative;

      &:before {
        background-image: url(../../assets/images/blockwise-logo.png);
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -30%);
        height: 35px;
        width: 53px;
      }
    }
  }

  #primary-menu > li:last-child > a {
    color: $color__brand-yellow-orange;
  }

  .container {
    padding: 0 2rem;

    @include desktop {
      padding: 0;
    }

    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-around;
    align-items: flex-end;
  }
}
