/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  color: $color__brand-ghost-white;
  background-color: $color__brand-blue-sapphire;

  a,
  h1 {
    color: $color__brand-ghost-white;
    text-decoration: none;
    &:hover {
      color: $color__brand-yellow-orange;
    }
  }

  .site-branding {
    position: relative;
    .site-title {
      margin: 0 auto;
      &:before {
        background-image: url(../../assets/images/blockwise-logo.png);
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: 50%;
        left: -1rem;
        transform: translate(-100%, -50%);
        height: 2.5rem;
        width: 3.8rem;
      }
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
