/*--------------------------------------------------------------
# Lesson Archive Page
--------------------------------------------------------------*/


.post-type-archive-lesson {

  .page-header {
    background-image: url("../../assets/images/LearnBlocksBGmobile.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;

    @include desktop {
      background-image: url("../../assets/images/LearnBlocks.png");
    }
  }

  //change this just for layout
  h1 {
    text-align: center;
  }

  .taxonomy-description {
    text-align: center;
  }

  .lessons {
    display: flex;

    img {
      height: 5px;
    }
  }
}