/*--------------------------------------------------------------
# Membership Page
--------------------------------------------------------------*/

.page-template-membership {
  text-align: center;
  .site-content {
    background-image: url('../../assets/images/membership-banner.jpg');
  }
  // position: relative;
  ul,
  li {
    margin-left: 0;
    padding: 0;
  }

  .wpcf7-form {
    display: none;
    @include desktop {
      display: block;
      .close,
      h3 {
        @include desktop {
          display: none;
        }
      }
    }
  }

  .tablinks {
    display: flex;
    justify-content: space-between;
    border: solid 3px;
    font-weight: bold;
    @include desktop {
      border: none;
      margin-bottom: auto;
      border-collapse: collapse;
    }
    li {
      padding: 20px 25px;
      width: 33%;
      text-align: center;
      @include desktop {
        border: solid;
        border-color: $color__brand-dark-cyan;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: 0 50px;
        background-color: $color__brand-dark-cyan;
        color: $color__brand-ghost-white;
      }
    }
  }

  .option-wrapper {
    ul {
      list-style-image: url('../../assets/images/membership-check.png');
      @include desktop {
        border: solid;
        padding-top: 14px;
        margin: 0 50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
    @include desktop {
      display: flex;
    }
  }

  .list-content {
    display: none;
    width: 100%;
    padding: 0px 63px;

    li {
      padding: 10px 0px;
    }
  }

  .thank-you {
    display: none;
  }

  .thank-you-active {
    display: block;
    background-color: $color__brand-ghost-white;
    max-width: 300px;
    height: 200px;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-image: url('../../assets/images/pop-up.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 10px 10px 73px 14px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 10px 10px 73px 14px rgba(0, 0, 0, 0.78);
    box-shadow: 10px 10px 73px 14px rgba(0, 0, 0, 0.78);
    p {
      padding: 0px 13px;
      padding-top: 30px;
      margin: 0;
    }

    .got-it {
      margin: 20px 0;
    }
  }

  .active {
    display: block;
  }

  .mobile-popup {
    display: block;
    background-color: $color__brand-ghost-white;
    width: 74vw;
    height: 90vh;
    position: fixed;
    top: 29px;
    left: 63px;
    overflow: scroll;
    z-index: 999;
    border-radius: 1rem;
    border: 2px solid;
    border-color: $color__brand-blue-sapphire;
    -webkit-box-shadow: 10px 10px 73px 14px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 10px 10px 73px 14px rgba(0, 0, 0, 0.78);
    box-shadow: 10px 10px 73px 14px rgba(0, 0, 0, 0.78);
    h3 {
      margin-top: 4rem;
      margin-left: 5px;
      margin-right: 5px;
    }
    .close {
      position: absolute;
      right: 10px;
    }

    input {
      max-width: 90%;
    }

    textarea {
      max-width: 90%;
    }
  }

  .sign-up-pop {
    @include desktop {
      display: none;
    }
  }

  .tab-color {
    background-color: $color__brand-dark-cyan;
    color: $color__brand-ghost-white;
  }
}
