// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}
// admin bar and sticky header fix
@mixin admin-sticky-fix($offset: 0) {
  $narrow-offset: 46px;
  $wide-offset: 32px;
  @if $offset != 0 and type-of($offset) == 'number' {
    $narrow-offset: $narrow-offset + $offset;
    $wide-offset: $wide-offset + $offset;
  }
  .admin-bar & {
    top: $narrow-offset;
    @media screen and (min-width: 783px) {
      top: $wide-offset;
    }
  }
}
