/*--------------------------------------------------------------
# Market Trends Archive Page
--------------------------------------------------------------*/

.blog {
  background-image: url('../../assets/images/news-banner.jpg');
}

.archive-posts {
  text-align: center;
  article {
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0.5em 0.7em;
    border-bottom: 2px solid $color__brand-blue-sapphire;
  }
  @include desktop {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    article {
      img {
        width: 333px;
        height: 160px;
      }
      padding: 0 0.5em;
      border: 0;
      flex: 1 0 33%;
      &:first-child {
        flex: 1 0 100%;
        margin-bottom: 1rem;
        border-bottom: 2px solid $color__brand-blue-sapphire;
      }
    }
  }
}
