// Structure

$base__space-unit: 1.5rem;
$desktop-width: 1000px;
$tablet-width: 720px;
$container-width: 1200px;
// Colors

$color__brand-blue-sapphire: #026082;
$color__brand-dark-cyan: #008294;
$color__brand-middle-blue: #7bd1d0;
$color__brand-ghost-white: #f7f9fa;
$color__brand-yellow-orange: #ffae4e;

$color__background-body: #fff;
$color__text-header: $color__brand-blue-sapphire;
$color__text-main: $color__brand-dark-cyan;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: $color__text-header;
$color__link-visited: $color__text-header;
$color__link-hover: $color__brand-yellow-orange;

// Typography

$font__main: 'Raleway';
$font__other: 'Proxima-Nova';
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.25;
$font__line-height-pre: 1;
